
-- CREATE PROC [dbo].[usp_Joke_Search] (
ALTER PROC [dbo].[usp_Joke_Search] (
  @category as varchar(255) = NULL,
  @searchTxt as varchar(255) = NULL
) AS
/*
Example Usage:
  exec usp_Joke_Search @category = 'Chuck Norris'
  exec usp_Joke_Search @SearchTxt = 'Sun'
  exec usp_Joke_Search @category = 'Chuck Norris', @SearchTxt = 'Sun'
*/
BEGIN

    SET @category = '%' + ISNULL(@category, '') + '%'
    SET @searchTxt = '%' + ISNULL(@searchTxt, '') + '%'
	SELECT j.JokeId, j.JokeCategoryId, 
	  j.JokeCategoryTxt, j.JokeTxt, j.ImageTxt, j.Rating, j.ActiveInd, j.Attribution, j.VoteCount, j.SortOrderNbr,
	  j.CreateDateTime, j.CreateUserName, j.ChangeDateTime, j.ChangeUserName
	FROM Joke j 
	WHERE JokeCategoryTxt LIKE @category AND JokeTxt LIKE @searchTxt
	ORDER BY j.JokeCategoryTxt, j.JokeTxt 
END
