@inherits LayoutComponentBase

<PageTitle>@Data.Constants.ApplicationTitle</PageTitle>

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Style="height: 91vh;">
    <MudAppBar Fixed="true" Class="top-bar">
        <a class="logo hideIfReallyNarrow" href=""><img src="/Favicon.png" height="55" alt="Logo" /></a>
        <a class="navbar-brand hideIfNarrow" href="" id="headerPageTitle">@Data.Constants.ApplicationTitle</a>
        <NavMenu />
        <MudSpacer />
        <div class="navbar-login">
            <LoginDisplay />
        </div>
    </MudAppBar>
    <MudMainContent Class="LayoutContentContainer">
        <div class="LayoutContentStyle">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<div class="LayoutFooterStyle hideIfReallyNarrow" style="position: fixed; bottom: 0; width: 100%; z-index: 1000;">
    Copyright @thisYear, Luppes Consulting, Inc.
    <a href="http://www.luppes.com/Privacy" target="_blank">Privacy</a>
    <a href="http://www.luppes.com/License" target="_blank">License</a>
    <div class="float-end">Version @assemblyVersionNumber</div>
</div>

@code {
    int thisYear = DateTime.Today.Year;
    string assemblyVersionNumber => Assembly.GetEntryAssembly().GetName().Version.ToString();
}
