@* NinetiesThemeConstructionBanner.razor: 90s-style construction banner that appears below navigation when 90s theme is active *@
@using Microsoft.JSInterop
@namespace DadABase.Web.Shared
@inject IJSRuntime JS
@inject DadABase.Web.Repositories.ThemeService ThemeService

@if (isNinetiesTheme)
{
    <div id="under-construction-banner" class="under-construction-banner">
        <div class="flame-bar"></div>
        <div class="banner-content">
            <img src="/construction-worker.gif" alt="Under Construction" class="construction-icon" />
            <h2>UNDER CONSTRUCTION</h2>
            <img src="/construction-worker.gif" alt="Under Construction" class="construction-icon" />
        </div>
        <div class="bottom-flame-bar"></div>
    </div>
}
