# ------------------------------------------------------------------------------------------------------------------------
# GHA Workflow to build and deploy SQL Database Objects (DACPAC)
# ------------------------------------------------------------------------------------------------------------------------
name: 4.build.deploy.dacpac
run-name: '4. Build and Deploy DACPAC using ENV ${{ inputs.deployEnvironment }} ${{vars.INSTANCE_NUMBER}} by @${{ github.actor }}'
on:
  workflow_dispatch:
    inputs:
      deployEnvironment:
        description: Environment
        default: 'dev' 
        type: environment
      loginAccountType:
        description: 'Login Account Type'
        required: true
        default: 'SVC_PRINCIPAL'
        type: choice
        options:
          - 'SVC_PRINCIPAL'
          - 'LOCAL_SQL'
      dacpacAction:
        description: DACPAC Action
        required: true
        default: 'build-deploy'
        type: choice
        options:
          - 'build-deploy'
          - 'build-only'
      createDefaultData:
        description: Create Default Data?
        type: boolean
        default: true

# ------------------------------------------------------------------------------------------------------------------------
jobs:
  # ----------------------------------------------------------------------------------------------------
  # Build DACPAC
  # ----------------------------------------------------------------------------------------------------
  build:
    name: Build
    uses: ./.github/workflows/template-dacpac-build.yml
    if: ${{ inputs.dacpacAction == 'build-deploy' || inputs.dacpacAction == 'build-only' }}
    with:
      envCode: ${{ inputs.deployEnvironment }}
      appFolderName: '${{ vars.SQL_APP_PROJECT_FOLDER_NAME }}'
      appSolutionName: '${{ vars.SQL_APP_SOLUTION_NAME }}'
      appProjectName: '${{ vars.SQL_APP_PROJECT_NAME }}'
      listFilesAfterBuild: true
    secrets: inherit

  # ----------------------------------------------------------------------------------------------------
  # Deploy DACPAC
  # ----------------------------------------------------------------------------------------------------
  deploy:
    name: 'Deploy Database ${{vars.INSTANCE_NUMBER}}'
    needs: build
    uses: ./.github/workflows/template-dacpac-deploy.yml
    if: ${{ inputs.dacpacAction == 'build-deploy' }}
    permissions:
      id-token: write  
    with:
      envCode: ${{ inputs.deployEnvironment }}
      artifactName: 'dacpac'
      appProjectName: '${{ vars.SQL_APP_PROJECT_NAME }}'
      sqlServerName: '${{ vars.SQL_SERVER_NAME_PREFIX }}${{vars.INSTANCE_NUMBER}}sql${{ inputs.deployEnvironment }}'
      sqlDatabaseName: '${{ vars.SQL_DATABASE_NAME }}'
      loginAccountType: ${{ inputs.loginAccountType }}
    secrets: inherit

  # ----------------------------------------------------------------------------------------------------
  # Deploy Default Data
  # ----------------------------------------------------------------------------------------------------
  run-sql:
    name: Deploy default data
    uses: ./.github/workflows/template-run-sql.yml
    if: ${{ inputs.createDefaultData }}
    permissions:
      id-token: write  
    with:
      envCode: ${{ inputs.deployEnvironment }}
      sqlFolderName: 'src/sql.database/Patch'
      sqlFileName: 'InsertDefaultData.sql'
      runInDatabase: '${{ vars.SQL_DATABASE_NAME }}'
      sqlServerName: '${{ vars.SQL_SERVER_NAME_PREFIX }}${{vars.INSTANCE_NUMBER}}sql${{ inputs.deployEnvironment }}'
      loginAccountType: 'SVC_PRINCIPAL'
    secrets: inherit
