# ------------------------------------------------------------------------------------------------------------------------
# GHA Reusable Called Workflow to deploy an already built Function App
# ------------------------------------------------------------------------------------------------------------------------
# You need to set up secrets in the GitHub Secrets Repository before running these workflows.
#   See Docs\CreateGitHubSecrets\.md for details
# ------------------------------------------------------------------------------------------------------------------------
name: z_template_functionapp_deploy
run-name: Deploy Function App
on:
  workflow_call:
    inputs:
      envCode:
        required: true
        type: string
      listFilesBeforeDeploy:
        required: false
        type: boolean
        default: false

# ------------------------------------------------------------------------------------------------------------------------
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.envCode }}
    env:
      artifactName: functionapp
      generatedAppEnvName: ${{ vars.APP_NAME }}-${{ inputs.envCode }}

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: ${{ env.artifactName }}

    - name: List Files Before Build
      if: inputs.listFilesBeforeDeploy == true
      run: 
        tree ${{ github.action_path }}
      continue-on-error: true
  
    - name: Azure Login (Reusable Action)
      uses: ./.github/actions/login-action
      with:
        client-id: ${{ secrets.CICD_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        # client-secret: ${{ secrets.CICD_CLIENT_SECRET }}

    - name: Deploy Azure Function Zip
      uses: Azure/functions-action@v1
      with:
        app-name: ${{ env.generatedAppEnvName }}
        package: .

    - name: Logout and cleanup
      shell: bash
      run: |
        az logout
        az cache purge
        az account clear
